[submodule "theme/hypr-dots-type1"]
	path = theme/hypr-dots-type1
	url = https://github.com/MrVivekRajan/Hypr-Dots.git
	branch = Type-1
[submodule "theme/hypr-dots-type2"]
	path = theme/hypr-dots-type2
	url = https://github.com/MrVivekRajan/Hypr-Dots.git
	branch = Type-2
[submodule "ghostty/shaders"]
	path = ghostty/shaders
	url = https://github.com/0xhckr/ghostty-shaders.git
