@define-color base {
        {
        colors.surface.default.hex
    }
}

;

@define-color surface {
        {
        colors.surface_container.default.hex
    }
}

;

@define-color overlay {
        {
        colors.surface_container_high.default.hex
    }
}

;

@define-color border {
        {
        colors.outline.default.hex
    }
}

;

@define-color muted {
        {
        colors.surface_variant.default.hex
    }
}

;

@define-color text {
        {
        colors.on_surface.default.hex
    }
}

;

@define-color text_dim {
        {
        colors.on_surface_variant.default.hex
    }
}

;

@define-color accent {
        {
        colors.primary.default.hex
    }
}

;

@define-color accent_alt {
        {
        colors.secondary.default.hex
    }
}

;

@define-color warn {
        {
        colors.error.default.hex
    }
}

;

@define-color error {
        {
        colors.error.default.hex
    }
}

;