format = """
$directory\
$git_branch\
$git_status\
$character\
"""

[directory]
style = "blue"
truncation_length = 3
truncate_to_repo = false

[git_branch]
style = "green"
symbol = "ï˜ "

[git_status]
style = "red"
format = "[$all_status$ahead_behind]($style) "

[package]
disabled = true
