.dashboard {
    background-color: #1f2428;
    padding: 20px;
    border-left: 2px solid #98c379;
}

slider {
    min-height: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #2d3139;
    color: #e1e4e8;
    border-radius: 5px;
}